# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.npm/

# testing
/coverage

# next.js
/.next/
/out/
.turbo/

# production
/build
/dist

# misc
.DS_Store
*.pem
.eslintcache
.stylelintcache
.vercel
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.local
.env.production
.env.development

# typescript
*.tsbuildinfo
next-env.d.ts